<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
 
    <form action="https://uat.esewa.com.np/epay/main" method="POST">
        <input value="{{grand_total}}" name="tAmt" type="hidden">
        <input value="{{grand_total}}" name="amt" type="hidden">
        <input value="0" name="txAmt" type="hidden">
        <input value="0" name="psc" type="hidden">
        <input value="0" name="pdc" type="hidden">
        <input value="EPAYTEST" name="scd" type="hidden">
        <input value="{{realorder}}" name="pid" type="hidden">
        <input value="http://127.0.0.1:8000/verify/" type="hidden" name="su">
        <input value="http://127.0.0.1:8000/failed/" type="hidden" name="fu">
        <input value="Submit" type="submit">
        </form>
  
</body>
</html>