{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'shipping.css' %}">
</head>
<body>
    {% include "navbar.html"%}
    {% for pro in order %}
    <div class="container">
        <table>
            <td><img src="{{pro.Product.Images.url}}" alt="" srcset=""></td>
            <td>{{pro.Quantity}}</td>
            <td>{{pro.Product.Price}}</td>
            <td></td>
        </table>
    </div>
    {% endfor %}
    <form action="{% url 'shipping' %}" method ="POST">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Submit">
    </form>

  
</body>
</html>